body {
background: #FFFAF0 url(https://raw.githubusercontent.com/Silagul/Graphical-portfolio/master/images/paperbg.jpg) repeat-y;

}

#wrap {
  width:700px;
  margin: 0px auto 15px auto;
  font-family: Verdana, "Times New Roman", "Book Antiqua";
  font-size:12px;
  color: #666666
}

/*Header*/
#header {
  height:250px;
  background: url(https://raw.githubusercontent.com/Silagul/Graphical-portfolio/master/images/lightbg.jpg) no-repeat left top;
  clear: both;
}
#topbar {
  height:80px;
}

/*Navigation*/
#topmenu {
  display:block;
  list-style:none;
  padding: 0px 0px 0px 278px;
  float: left;
  width: 415px;
}
#topmenu li {
  dispaly:inline;
}
#topmenu a {
  dispaly:block;
  float:left;
  height:28px;
  margin: 0px 0px 0px 0px;
  text-decoration: none;
  padding: 0px 15px 0px 15px;
  text-align: center;
}
#topmenu a, #topmenu a:visited, #topmenu a:active {
  color: #8B0000
}
#topmenu a:hover {
  color: #FF1493;
  background-color: #FFFFFF;
}
#topmenu .active a, #topmenu .active a:visited, #topmenu .active a:active {
  color: #FFFFFF;
  background-color: #DAA520;
}

/*Content*/
#content {
  background-color: #F8F8FF;
}
#mainpage {
  width:700px;
  float:left;
  padding:5px 5px 5px 0px;
  height: auto;
}
#mainpage li {
  color: #FFFAF0;
}
#mainpage a {
  color: #DAA520;
}
#mainpage p {
  line-height:22px;
  margin:10px 0px 22px 0px;
  text-align: justify;
  color: #FFFAF0;
}
#mainpage blockquote {
  background: #B22222;
  display:block;
  margin:5px;
  font: Georgia, "Times New Roman", Times, serif;
  font-style:normal;
}
h1, h2, h3, h4, h5 {
  color: #FFFAF0;
  font-weight:bold;
  font-family: Arial, Georgia, Helvetica, sans-serif;
}
#mainpage h1 {
  font-size:24px;
  color: #DC143C;
}
#mainpage h2 {
  font-size:18px;
  color: #FFF8DC;
  padding-top:20px;
  padding-bottom:5px;
  border-bottom: 2px solid #000000;
}
#mainpage h3 {
  font-size:20px;
  color: #B22222;
}
#mainpage h4 {
  font-size:18px;
  color: #FFF8DC;
}
#mainpage h5 {
  font-size:14px;
  color: #FFF8DC;
}

/*Drag and drop*/
#div1, #div2, #div3 {
    float: left;
    width: 200px;
    height: 220px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000000;
}

/*Tables*/
table, th, td {
    border: 1px solid black;
  color: #FFFAF0;
}
th {
    text-align: left;
  color: #FFFAF0;
  font-weight: bold;
}
th, td {
    padding: 15px;
}

/*Forms*/
form {
  color: #FFFAF0;
}

/*Footer*/
#footer {
  margin: 0 auto;
  width: 685px;
  height:20px;
  padding:10px;
  color: #FFFFFF;
  text-align: center;
  background: #DAA520;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:12px;
  clear:both;
}
